<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">      
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              {{ title }}
            </h6>
            <p>
              Pagina ofcial de la Direccion de Defensa Civil de Tandil.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Secciones
            </h6>
            <p>
              <a href="#!" class="text-reset">Noticias</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Informacion</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Descargas</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Historia</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Links de interes
            </h6>
            <p>
              <a href="#!" class="text-reset">Precios</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Configuración</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ordenes</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ayuda</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p>Tandil, 7000, ARG</p>
            <p>defensacivil&#64;tandil.gob.ar</p>
            <p>defensa.civil.tandil&#64;gmail.com</p>
            <p>+ 54 249 49 0357</p>
            <p>+ 54 249 42 9547</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4 copyright-background">
      © 2021 Copyright: {{ title }}
    </div>
  </footer>
